* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  box-shadow: 0 0 15px rgba(82, 82, 82, 0.2);
  width: 220px;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidemenu {
  list-style-type: none;
}

.sidemenu .menuItem {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}

.sidemenu .menuItem:hover {
  background-color: rgba(242, 244, 246, 1);
}
